* {
    margin:0;
    padding: 0;
}

header {
    background-color: rgb(55, 18, 63);
}

h1 {
    text-align: center;
    color: rgb(186, 186, 247);
}

.changetitle {
    color: azure;
}

.menu {
    display:flex;
    justify-content: space-around;
}


.navbar {
    list-style: none;
    color:white;
}

a {
    text-decoration: none;
    list-style: none;
    color:white;
}